<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ENTER YOUR PACKAGE HERE!!!"
    android:versionCode="1"
    android:versionName="1.0" > <!-- TODO -->

    
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        
        <uses-library android:name="com.android.future.usb.accessory" /> <!-- added -->
        
        <activity
            android:name="com.ADKBareMinimumAndroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"> <!-- added -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" /> <!-- added -->
			</intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" /> <!-- added -->
        </activity>
        
    </application>
</manifest>